nav {
    width: 100%;
    max-width: 1500px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

nav > div {
    height: 50px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.logo:hover + .icon-underscore {
    display: block;
    scale: 1.02;
}

.icon {
    height: 22px;
    border-radius: 2px;
}

.icon:hover + .icon-underscore {
    display: block;
    scale: 1.2;
}

.icon-underscore {
    display: none;
    height: 2px;
    border-radius: 50%;
    background-color: var(--primary-color)
}
