.footer-outer {
    width: inherit;
    display: flex;
    justify-content: flex-end;
    max-width: 1500px;
    padding: 0 50px 40px 0;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}