.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container > h1 > span {
    color: var(--error-color);
}

.quote-text, .quote-person {
    font-size: 25px;
}