:root {
    --logo-font: 'Monofett', monospace;
    --text-font: 'Nunito Sans', sans-serif;

    --background-color: #191717;
    --text-color: #E1E1E1;

    --primary-color: #08D975;
    --error-color: #AE3434;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--text-font);
}

#root {
    width: 100vw;
    height: 100vh;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 1500px;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--text-color);
}